<div class="message">
    <div class="message-detail">
      <div class="message-name">
        <%= message.user.name %>
      </div>
      <div class="time">
        <%= message.created_at %>
      </div>
    </div>
    <div class="info">
      <%= message.content %>
    </div>
  </div>